/*body{
  margin-top: 70px;
}*/

/* Custom navbar style */
/*.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}*/

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 200px;
  width: 100%;
}

.container {
  margin: auto;
  width: 50%;
}

/*.containerheader {
  margin: auto;
  width: 80%;
}*/

#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

#submit{
  width: 80px;
  height: 40px;
  float: right;
  background-color: DarkTurquoise;
}

hr{
  width: 360%
}

#nama{
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.to-do-list:after{
    content:"";
    display:block;
    height:25px;  /*Which is the padding of div.container*/ 
}
.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.to-do-list .to-do-list-date-added {
  font-size: 12px;
  padding: 0 10px;
}

#statusorang{
  padding-left: 64px;
}

#tanggal{
  padding-left: 64px;
}

footer p{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: lighter;
  bottom: 0;
  width: 100%;
}

/*#futer{
  background-color: lightgrey;
}*/

#counter{
  padding-right: 20px;
}

@media only screen and (max-width: 480px){
  .flex-item{
    padding: 0 15px;
    width: 320px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}