.nama{
        color: red;
    }

.button {
    background-color: #cbd1c8;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    }
    .button1 {border-radius: 12px;}
}