
{% extends "fitur_1/layout/base.html" %}

{% load staticfiles %}
{% block content %}

<head>
    <meta charset="utf-8">
    <title> Beranda </title>
    <link rel = "stylesheet" type = "text/css" link href = "{% static '/css/fitur_1.css' %}"/>
</head>
<div id="isi">
    <section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'fitur-1:add_status' %}">
            <h2>Update Status</h2>
            {% csrf_token %}
            {{ Status_form }}
            <div class="button-group pull-right">
                <input id="submit" type="submit" class="btn btn-primary" value="Submit">
            </div>
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <div class="flex">
            {% if status %}
                {% for data in status reversed %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="photo" id="foto">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShx5bw-WW3ntwdMdJHC0W_nl2eN-2-VVRHL0Rn5qlxpMY80MEw" style="width:50px;height:50px;border:0;" width="70px" class="img-circle">
                                <span id="nama">
                                    Grup 7
                                </span>
                                <div class="to-do-list-description" id="statusorang">
                                    {{data.updatestat|linebreaksbr}}
                                </div>
                                <div class="to-do-list-date-added" id="tanggal">
                                    <i> {{data.created_date}} </i>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Tidak ada status yang telah di post!</strong>
            </div>
            {% endif %}
        </div>
    </div>
</section>
</div>


{% endblock %} 
