{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<body>

<h1>Statistic</h1>
<p1>
<img src="http://www.fanphobia.net/uploads/actors_2/56079/lucy-beaumont.jpg" style="margin-top:30px;margin-left:600px; width:200px;height:200px;border-radius:50%;"></p1>
<p1 style="font-size:150%; margin-left:600px">Grup 7</p1>
<pre style="margin-left:600px; font-size:120%;"> 
Friends	   :{{friend}} people        
Feed       :{{posts}} Post
Latest post:{{latest_post}}
	    {{date}}
</pre>
</body>
</html>
 {% endblock %}