
{% extends "header.html" %}


{% block content %}
<style>
    .button {
    background-color: #cbd1c8;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    }
    .button1 {border-radius: 12px;}
    .column {
    float: left;
    width: 10%;
    padding: 10px;}
    .column1 {
    float: left;
    width: 50%;
    padding: 10px;}

}
</style>

<section name="profile">
    <div class="container">
        <h2>Profile</h2>
        <center><img src="http://www.fanphobia.net/uploads/actors_2/56079/lucy-beaumont.jpg" style="width: 200px; height: 200px; border-radius: 100%"></center>
        <center>
            <h2> 
                <font face="verdana">{{name}}</font>
            </h2>
        </center>
        <hr/>
        <div class = "column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class = "column">
        
            <p> Birthday </p>
            <p> Gender </p>
            <p style='padding-top:6px;padding-bottom:6px'> Expertise </p>
            <p> Description </p>
            <p> Email </p>
        </div>
        <div class="column1 ">
            <p> {{birthday}} </p>
            <p> {{gender}} </p>
            <p> {% for ii in expertise %}
                    <button style='vertical-align: middle;' class='button button1'>{{ ii }}</button>
                {% endfor %}
            <p> {{description}} </p>
            <p> {{email}} </p>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</section>
{% endblock %}
        