{% extends "header.html" %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Add Friend</title>
  </head>
  <body>
    <div class = "container">
    <section name ="form">
    <h1>Add Friend</h1>
    <form class="" action="add_friend" method="POST">
      {% csrf_token %}
      {{ add_friend_Form }}
      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
    </form>
  </section>
    <h1>List Friend</h1>
    {% if friends %}
    <table class ="table">
      {% for friend in friends %}
        <tr>
          <td>{{friend.name}}</td>
          <td><a href ={{friend.url}}>{{friend.url}}</a></td>
          <td>Added {{friend.created_date}}</td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
  </body>
</html>
{% endblock %}